# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries = pd.read_csv ('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
# Your code here:
missing_data = salaries.isnull().sum()

# Print or display the results
print(missing_data)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
employment_counts = salaries['Salary or Hourly'].value_counts()

# Print or display the results
print(employment_counts)

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
department_counts = salaries.groupby('Department').size().reset_index(name='employee_count')

# Print or display the results
department_counts

               Department  employee_count
0            ADMIN HEARNG              39
1           ANIMAL CONTRL              81
2                AVIATION            1629
3       BOARD OF ELECTION             107
4         BOARD OF ETHICS               8
5           BUDGET & MGMT              46
6               BUILDINGS             269
7        BUSINESS AFFAIRS             171
8              CITY CLERK              84
9            CITY COUNCIL             411
10  COMMUNITY DEVELOPMENT             207
11                   COPA             116
12       CULTURAL AFFAIRS              65
13           DISABILITIES              28
14                   DoIT              99
15       FAMILY & SUPPORT             615
16                FINANCE             560
17                   FIRE            4641
18       GENERAL SERVICES             980
19                 HEALTH             488
20        HUMAN RELATIONS              16
21        HUMAN RESOURCES              79
22          INSPECTOR GEN              87
23                    LAW             407
24      LICENSE APPL COMM               1
25         MAYOR'S OFFICE              85
26                   OEMC            2102
27                 POLICE           13414
28           POLICE BOARD               2
29            PROCUREMENT              92
30         PUBLIC LIBRARY            1015
31          STREETS & SAN            2198
32             TRANSPORTN            1140
33              TREASURER              22
34            WATER MGMNT            1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
from scipy import stats

# Assuming 'Hourly Rate' is the column containing hourly wages in your DataFrame
hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(hourly_wages, 30)

# Check the results
alpha = 0.05
print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

# Check if the null hypothesis can be rejected based on the p-value
if p_value < alpha / 2:  # Two-sided test
    print("Reject the null hypothesis: The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The hourly wage is not significantly different from $30/hr.")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:
from scipy.stats import ttest_1samp

# Extract salaries of police officers
police_salaries = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()

# Define the null hypothesis mean
null_hypothesis_mean = 86000

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(police_salaries, null_hypothesis_mean)

# Set the significance level (alpha)
alpha = 0.05

# Print the results
print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

# Check if the null hypothesis can be rejected
if p_value < alpha:
    print('Reject the null hypothesis: The mean salary of police officers is significantly different from $86,000/year.')
else:
    print('Fail to reject the null hypothesis: The mean salary of police officers is not significantly different from $86,000/year.')

T-statistic: 3.081997005712994
P-value: 0.0020603403550965155
Reject the null hypothesis: The mean salary of police officers is significantly different from $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:
department_hourly_crosstab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

# Selecting the 'Hourly' column and finding the department with the maximum count
department_with_most_hourly = department_hourly_crosstab['Hourly'].idxmax()

print(f"The department with the most hourly workers is: {department_with_most_hourly}")

The department with the most hourly workers is: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
import pandas as pd
from scipy.stats import ttest_1samp

# Assuming your dataframe is named 'salaries'
# Replace "STREETS & SAN" with your identified department variable
department_with_most_hourly = "STREETS & SAN"

# Filter the data for the identified department and non-NaN Hourly Rate
department_data = salaries[(salaries['Department'] == department_with_most_hourly) & (~salaries['Hourly Rate'].isna())]

# Perform the one-sample t-test
t_statistic, p_value = ttest_1samp(department_data['Hourly Rate'], 35)

# Print the results
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value / 2}")  # Divide p-value by 2 for a one-sided test

# Check if the null hypothesis is rejected
if p_value / 2 < 0.05:
    print(f"Reject the null hypothesis: The hourly wage is significantly less than $35/hour in {department_with_most_hourly}.")
else:
    print(f"Fail to reject the null hypothesis: There is not enough evidence to claim that the hourly wage is less than $35/hour in {department_with_most_hourly}.")

T-statistic: -9.567447887848152
P-value: 1.6689265282353859e-21
Reject the null hypothesis: The hourly wage is significantly less than $35/hour in STREETS & SAN.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
# Your code here:
from scipy.stats import t, sem

# Filter hourly workers
hourly_wage_data = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Calculate mean and standard error
mean_hourly_wage = hourly_wage_data.mean()
std_error_hourly_wage = sem(hourly_wage_data)

# Calculate the confidence interval
confidence_interval = t.interval(0.95, len(hourly_wage_data) - 1, mean_hourly_wage, std_error_hourly_wage)

print("95% Confidence Interval for Mean Hourly Wage:", confidence_interval)

95% Confidence Interval for Mean Hourly Wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [23]:
# Your code here:
from scipy.stats import t, sem

# Filter salaried employees in the police department
police_salary_data = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary']

# Calculate mean and standard error
mean_police_salary = police_salary_data.mean()
std_error_police_salary = sem(police_salary_data)

# Calculate the confidence interval
confidence_interval_police_salary = t.interval(0.95, len(police_salary_data) - 1, mean_police_salary, std_error_police_salary)

print("95% Confidence Interval for Mean Annual Salary in POLICE:", confidence_interval_police_salary)

95% Confidence Interval for Mean Annual Salary in POLICE: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [24]:
# Your code here:
police_mean_salary = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary'].mean()
print("Mean Annual Salary for Police:", police_mean_salary)

Mean Annual Salary for Police: 86486.41450313339